/* * {
  outline: 1px solid red;
} */

.container {
  margin: auto;
  max-width: 1000px;
  font-family: sans-serif;
}
.heading {
  color: rebeccapurple;
}
.img-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 1rem;
}
