/* * {
  outline: 1px solid red;
} */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  width: 200px;
  margin: 3rem 0;
  font-size: 2rem;
  color: rgb(65, 65, 65);
  font-weight: 700;
}
.container {
  margin: auto;
  max-width: 1000px;
  font-family: sans-serif;
}
.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}
.img-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 1rem;
}
